/*
  ========================================

  - alt="all my images">

  - Remove unneeded font weights in html when finished

  ========================================
*/










/*
  ========================================
  Grids
  ========================================
*/
* {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* Header */
.nav-sticky-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(21, 21, 21, 0.9);
  z-index: 10;
}
.grid-nav {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Hero */
.grid-hero {
  display: grid;
  grid-template-rows: 90vh;
  align-items: center;
  justify-items: center;
}
.grid-arrow {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
}

/* Projects */
.grid-projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Footer */
.grid-footer {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: 
  auto auto auto;
  align-items: center;
  align-content: space-around;
  justify-items: center;
  column-gap: auto;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #151515;
  z-index: 10;
}

/* about.grid =============================== */
.north-strip {
  display: grid;
  grid-template-rows: 10vh auto;
  align-items: center;
  justify-items: center;
  margin: 10vh 0 5vh 0;
}
.bio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-bio-content {
  grid-column: 2 / 12;
  margin: 1.25vh 0 1.25vh 0;
}
.grid-bio-h2s {
  /* 1/4 desk
  1/3 tablet
  1/2 mobile*/
  grid-column: 1 / 7;
  margin: 2vh 0 2vh 0;
  align-content: center;
  align-items: center;
}
.bruce {
  /* always 1/12 on each side */
  grid-column: 2 / 12;
  padding: 5vh 0 5vh 0;
}
.pic-strip {
  /* 1/6 each desk/tab
  1/3 mobile */
  grid-column: 1 / 13;
  padding: 5vh 0 0 0;
}
.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* contact.grid =============================== */
.contact-form {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  row-gap: .5vh;
  position: relative;
  width: 90vw;
  height: 75vh;
  margin: 10vh auto 10vh auto;
  
}

/* caseUniversal.grid =============================== */
.case-section-label, .case-section-major-label {
  /* No text-align: center, aligns images */
  display: grid;
  justify-items: center;
  justify-content: center;
}
.grid-proto {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.bandtastic-proto-button, .vocoach-proto-button, .proto-text {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.swot-item-title {
  display: grid;
  justify-content: center;
  row-gap: 5vh;
  column-gap: 5vw;
}
.grid-persona-section {
  display: grid;
  row-gap: 5vh;
  column-gap: 5vw;
}
.grid-persona {
  display: grid;
  justify-items: center;
  align-content: flex-start;
  row-gap: 5vh;
  column-gap: 5vw;
}
.second-persona {
  border-top: solid 1px;
}
.second-persona .persona-pic {
  padding-top: 5vh;
}
.persona-pic {
  width: 33vw;
}
.grid-color-chip-group {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 5vh;
  column-gap: 5vw;
}
.grid-color-chip-group {
  grid-template-columns: auto auto;
}
.grid-color-chip {
  display: grid;
  justify-items: center;
  grid-template-rows: 15vh auto;
  row-gap: 1vh;
  column-gap: 1vw;
}
.color-chip {
  width: 42.5vw;
}










/* grid that starts in mobile to center grid items =============================== */
.bandtastic-mockup,
.grid-bandtastic-mvp,
.grid-bandtastic-flows,
.grid-bandtastic-balsamiqWires,
.grid-bandtastic-logoMistake,
.grid-bandtastic-logoCollage, 
.grid-bandtastic-moodboard,
.grid-bandtastic-typog,
.grid-bandtastic-color,
.grid-bandtastic-icon-issues, 
.grid-bandtastic-greenNblueButt, 
.grid-bandtastic-iterations,
.grid-bandtastic-atomic,
.vocoach-mockup,
.grid-vocoach-discovery, 
.grid-vocoach-gamified, 
.grid-vocoach-survey,
.grid-vocoach-sitemap,
.grid-vocoach-flows,
.grid-vocoach-sketches, 
.grid-vocoach-sketch2wire, 
.grid-vocoach-title, 
.grid-vocoach-sheet, 
.grid-vocoach-logo-paper, 
.grid-vocoach-logo-digi,
.grid-vocoach-logo-final,
.grid-vocoach-style,
.grid-vocoach-version, 
.grid-vocoach-vis-pattern, 
.grid-vocoach-screen {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 5vh;
  column-gap: 5vw;
}










/*
  ========================================
  Typography
  100 Thin
  200 Extra Light
  300 Light
  400 font-weight normal
  500 Medium
  600 Semi-Bold
  700 font-weight bold
  800 Extra Bold
  900 Ultra Bold
  ========================================
*/
body {
  background-color: #151515;
  color: #FAFAFA;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: rgb(94, 166, 255);
}
a:visited {
  color: rgb(188, 133, 255);
}
a:hover {
  font-size: 1.05em;
}
a:active {
  color: #E3C588;
}
.projects a:link {
  color: #FAFAFA;
}
.projects a:visited {
  color: #FAFAFA;
}

/* Header/Footer */
.nav a, .footer a, .footer-item-copyright {
  color: #FAFAFA;
  font-weight: 300;
}
.nav-item a {
  font-weight: 300;
}
.type-logo a {
  font-weight: 750;
}
#tl-fm {
  color: #E3C588;
  display: inline;
}
#tl-ux {
  color: #6DB66D;
  display: inline;
}

/* Hero */
.hero {
text-align: center;
font-size: 1.5em;
/* Unitless: use this number multiplied by
the element's font size */ 
line-height: 1.25;

}
#hfm {
  display: inline;
  color: #E3C588;
  font-weight: bold;
}
.hu {
  display: inline;
  color: #6DB66D;
  font-weight: bold;
}

/* Projects */
.project-bandtastic, 
.project-vocoacher {
  position: relative;
  display: inline-block;
}
.project-text-2l {
  position: absolute;
  bottom: 43%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-text-3l {
  position: absolute;
  bottom: 40%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-text-4l {
  position: absolute;
  bottom: 38%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-title {
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 5px;
}
.project-content {
  line-height: 1.125em;
}

/* about.typo ================================= */
.about {
  font-size: 2em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 300;
  color: #151515;
}
.grid-bio-h2s img {
  position: relative;
  display: inline-block;
}
.grid-bio-h2s h2 {
  position: absolute;
  z-index: 1;
  left: 8.3%; 
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 700;
}
.grid-bio-content {
  line-height: 1.75em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}
.bruce {
  text-align: center;
  font-weight: 700;
}
.bruce-q {
  font-style: italic;
}

/* contact.typo ================================= */
.contact-form {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  color: #151515;
  text-decoration: none;
}
.contact-form button {
  font-size: 1em;
  font-weight: 150;
}
.contact-form textarea,
input {
  font-family: lato;
  font-size: .875em;
}
.contact-form h1 {
  font-size: 2em;
  text-align: center;
  align-self: center;
  font-weight: 450;
}
.flabel {
  font-size: 1.25em;
  text-indent: 1%;
  align-self: end;
  width: 90%;
  justify-self: center;
  font-weight: 350;
  color: #fafafa;
}
.contact-form input, 
.contact-form textarea {
  width: 90%;
  justify-self: center;
}

/* casetemp.typo ================================= */
.short-description {
  text-align: center;
}
.proto-text {
  color: white;
  font-size: 1.5em;
}
.case-section-major-label {
  font-size: 2.25em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
}
.case-section-label {
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
}
.case-content {
  line-height: 1.75em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-weight: 300;
  text-align: center;
}
.swot-item-label {
  color: #E3C588
}
.swot-title {
  font-size: 1.625em;
  font-weight: 100;
}
.grid-swot ul li, .swot-conclusion {
  text-align: left;
}
.grid-persona-section {
  text-align: center;
  font-size: .750em;
}
.persona-name {
  font-size: 2.25em;
}
.persona-heading {
  font-weight: bold;
}
.persona-quote {
  font-size: 1.5em;
  font-weight: 450;
  color: #7c7c7c;

}
/* case study specific.typo ================================= */
.bandtastic-iteration-chunk .case-content {
  font-style: italic;
}

/*  CAPTIONING  */
.vocoach-survey, .vocoach-sitemap {
  font-style: italic;
  font-weight: 150;
  margin: 0 5vw 0 5vw;
}

.vocoach-screen-title {
  font-size: 1.625em;
  font-weight: 150;
}










/*
  ========================================
  Styling
  ========================================
*/
.nav-item a:active {
  color: #6DB66D;
}
.nav-item {
  animation-name: navgrow;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0,0,.9,.25);
  animation-iteration-count: 1; }
  @keyframes navgrow {
    0% { transform: scale(0); }
    85% { transform: scale(1); }
    90% { transform: scale(1.05); }
    95% { transform: scale(.95); }
}
.arrow {
  animation-name: arrowpulse;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.25,.75,.75,.25);
  animation-iteration-count: infinite;  }
  @keyframes arrowpulse {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.project-vocoacher a:hover img {
  color: #FAFAFA;
  outline: solid 1px #E3C588;
}
.project-bandtastic a:hover img {
  color: #FAFAFA;
  outline: solid 1px #6DB66D;
}
.grid-vocoach-screen a:hover img {
  transform: scale(1.05); 
}

/* About */
.north-strip {
  background-color: #E3C588;
}

/* Contact Page */
.contact-form {
  background: rgb(39, 39, 39);
  border-radius: 25px;
}
.contact-form h1 {
  background: #E3C588;
}
.contact-form button {
  background: #6DB66D;
  border-radius: 12.5px;
}
#name, #email, #message, .flabel {
  border-radius: 12.5px;
}
.contact-form input:focus, .contact-form textarea:focus {
  background: #FFEAC0;
}

/* Case Studies OVERRIDE IN SPECIFIC */
.case-snapshot {
  background-color: #DADADA;
  color: #151515;
}

.bandtastic-proto-button {
  background: #1863CD;
  width: 75%;
  height: 60px;
  border-radius: 50px;
  border: none;
}
.vocoach-proto-button {
  background: #4A148C;
  width: 75%;
  height: 60px;
  border-radius: 50px;
  border: none;
}
.bandtastic-proto-button:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
.vocoach-proto-button:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}

.swot { 
  border-bottom: 1px ridge rgb(0, 0, 0);
}
li img {
  vertical-align: middle;
}
.greenNblueButt-2, .greenNblueButt-4 {
  border: 1px solid black;
}

.alternate {
  background: #FAFAFA;
  color: #151515; }
  .alternate a {
    text-decoration: none;
    color: #4B9BFF; }
  .alternate a:visited {
    color: #AF50D7;
}










/*
  ========================================
  Universal Case Study Padding & Margins
  ========================================
*/

.case-study { margin: 10vh 0 0 0; }
/* Hero ================================= */
.case-hero { padding: 15vh 0 15vh 0;  }
.app-name { margin: 0 0 5vh 0;  }

/* Intro-Problem-Solution ================================= */
.case-snapshot  { padding: 5vh 5vw 5vh 5vw;  }
.problem-title, .solution-title  { padding: 5vh 0 1vh 0;  }

/* Prototype & B4 actual Process ================================= */
.proto {  padding: 5vh 0 0 0; }
.proto-text { padding: 5px 5px 5px 5px; }
.process-title {  padding: 10vh 0 10vh 0; }

/* Process Titles & Icons ================================= */
.process-box {  padding: 10vh 0 0 0; }/*No bottom because .mar-full-width*/
.process-icon { padding: 0 0 2vh 0; }
/* SWOT  ================================= */
.swot-title { padding: 10vh 0 5vh 0;}
.swot-item-title { padding: 5vh 0 5vh 0; }
.swot { padding: 5vh 5vw 5vh 5vw; }
/* Postprocess Conclusion ================================= */
/* This equals grid gap since no grid defined */
.conclusion-label { padding: 5vh 0 5vh 0;  }
.conclusion-content { 
  padding: 0 0 5vh 0;
  margin: 0 5vw 0 5vw;
}
/* Copy Margins ================================= */
.mar-full-width {  padding: 5vh 5vw 5vh 5vw;  }
.swot-conclusion {  padding: 5vh 5vw 5vh 5vw;   }
.vocoach-ia-intro {  margin: 10vh 5vw 5vh 5vw;   }












/*
  ========================================
  Bandtastic Specific
  ========================================
*/
.case-hero-bandtastic {
  background-image: url(../desk-assets/project-bandtastic-banner-center.png);
  background-size: cover;
  background-position: center;
}
.app-bg-color-bandtastic {
  background-color: #E1EAF7;
}
.bandastic-mvp-graph {
  width: 75vw;
}
.conclusion-bg-bandtastic {
  background-color: rgb(9, 38, 78);
}
.bandtastic li:before {
  /* For a round bullet */
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -2vw;
  top: -.125vw;
  top: 0;
  color: #4B9BFF;
  font-size: 2vw;
}
/* Color Chips */
.bandtastic-cc-megaman {
  background-color: #1863cd;
}
.bandtastic-cc-babyblue {
  background-color: #d1e0f5;
}
.bandtastic-cc-medblack {
  background-color: #333333;
}
.bandtastic-cc-medgrey {
  background-color: #999999;
}
.bandtastic-cc-lightgrey {
  background-color: #e5e5e5;
}
/*
  ========================================
  Pocket VoCoacher Specific
  ========================================
*/
.case-hero-vocoach {
  background-image: url(../desk-assets/project-vocoach-banner-center.png);
  background-size: cover;
  background-position: center;
}
.app-bg-color-vocoach {
  background-color: rgb(234, 217, 255);
}
.vocoach-learning-graph {
  width: 75vw;
}
.conclusion-bg-vocoach {
  background-color: #240A44;
}
.vocoacher li:before {
  /* For a round bullet */
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -2vw;
  top: -.125vw;
  color: #AF50D7;
  font-size: 2vw;
}

/* Color Chips */
.vocoach-cc-b {
  background-color: #0D47A1;
}
.vocoach-cc-g {
  background-color: #004D40;
}
.vocoach-cc-v {
  background-color: #4A148C;
}

.vocoach-cc-mainPurple {
  background-color: #240A44;
}
.vocoach-cc-purpleGrad {
  background-color: #4A148C;
}
.vocoach-cc-titleButtons {
  background-color: #0D47A1;
}
.vocoach-cc-offBlack {
  background-color: #212121;
}
.vocoach-cc-lightGrey {
  background-color: #e5e5e5;
}









/*
.process-strip { width: 100%; }
*/









/*
  ========================================
  @Media Queries
  ========================================
*/
@media screen and (min-width: 675px) {
  /* Index */
  .grid-arrow { height: 85px; }
  .grid-projects {  
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
    justify-content: center;
  }  
  body {  font-size: 1.125em; }
  .hero { font-size: 2em; }
  .project-title {  font-size: 2em; }
  .project-content {  line-height: 1.25em; }
  /* About */
  .north-strip {  
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
  }
  .about { grid-column: 1 / 2 }
  .grid-bio-h2s h2 {  font-size: 2em;  }
  .grid-bio-content { 
    font-weight: 300;
    grid-column: 3 / 11;
  }
  .bruce  { font-size: 1.125em; }
  .pictures {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
  /* Contact Page */
  .contact-form { width: 66vw;  }
  .contact-form button {
    font-size: 1.125em;
  }
  .contact-form textarea,
  input { font-size: 1em;  }
  .contact-form h1 {  font-size: 2.25em; }
  .flabel { font-size: 1.5em;  }
  .contact-form button {
    width: 90%;
    justify-self: center;
  }

  /* Case Studies ================================= */
  .case-snapshot  { padding: 5vh 10vw 5vh 10vw;  }

  .case-section-major-label { font-size: 2.5em;  }
  .case-section-label {font-size: 2em;}

  .case-content { text-align: left;
    letter-spacing: 0.075em;
    word-spacing: 0.15em;
  }
  /* case-content override to keep centered... */
  .problem, .solution { text-align: center; }
  .swot { border: 5px solid rgb(0, 0, 0);  }
  .swot-title {
    text-align: center;
  }
  .conclusion-content { margin: 0 10vw 0 10vw;  }
  .mar-full-width {  padding: 5vh 10vw 5vh 10vw;  }
  .swot-conclusion {  padding: 5vh 10vw 5vh 10vw;   }
  .vocoach-ia-intro {  margin: 10vh 10vw 5vh 10vw;   }
  .vocoach-title  {  margin: 5vh 5vh -5vh 5vh;   }
  /* Case Study GRIDS! ================================= */
  .grid-swot {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
  }
  .grid-persona-section {
    grid-template-columns: 1fr 1fr;
  }
  .second-persona {
    border-top: none;
  }
  .second-persona .persona-pic {
    padding-top: 0;
  }
  /* BANDTASTIC ------------------------- */
  .bandtastic-mockup {
    grid-template-columns: auto auto;
  }
  
  .grid-bandtastic-mvp {
    grid-template-columns: auto auto; }
    .bandastic-mvp-graph {  width: 40vw;
  }
  .grid-bandtastic-logoMistake {
    grid-template-columns: auto auto; }
    .bandtastic-logoMistake-bottom {
      grid-column: 1 / 3;
  }
  .grid-bandtastic-logoCollage {
    grid-template-columns: auto auto;
  }
  




  .persona-pic {
    width: 15vw;
  }
  
  .color-chip {
    width: 37.5vw;
  }
  





  .grid-bandtastic-typog {
    grid-template-columns: 2fr 1fr;
  }
  .grid-bandtastic-greenNblueButt {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tl tr"
    "bl br"
  }
  .greenNblueButt-1 { grid-area: tl;}
  .greenNblueButt-2 { grid-area: bl;}
  .greenNblueButt-3 { grid-area: tr;}
  .greenNblueButt-4 { grid-area: br;}


  .bandtastic-iteration-intro { 
    text-align: center;
    padding: 5vh 0 0 0;
  }
  .grid-bandtastic-iterations {
    grid-template-columns: 1fr 1fr;
  }
  .bandtastic-iteration-chunk .case-content { 
    text-align: center; 
    font-weight: 150;
  }
  /* POCKET VOCOACHER ------------------------- */
  .vocoach-survey { text-align: center; }
  .vocoach-learning-graph {
    width: 40vw;
  }
  .grid-vocoach-sketches {
    grid-template-columns: auto auto;
  }
  .vocoach-sketches-top {
    grid-column: 1 / 3;
  }
  .grid-vocoach-logo-paper  {
    grid-template-columns: auto auto;
  }
  .grid-vocoach-logo-digi {
    grid-template-columns: auto auto; }
    .vocoach-logo-digi-top {
      grid-column: 1 / 3;
  }
  .grid-vocoach-version {
    grid-template-columns: auto auto;
  }
    /* Styling & Specific ------------------------- */
  .bandtastic-proto-button { 
    width: 50%;
    font-weight: 150;
  }
  .vocoach-proto-button {
    width: 50%;
    font-weight: 150;
  }
  .proto-text { font-size: 1.75em; }
}










/* another "About" h1 size */
@media screen and (min-width: 800px) {
.about {  font-size: 3em; }}










@media screen and (min-width: 1150px) {
  /* Index */
  .grid-arrow { height: 100px; }
  .grid-projects {  
    grid-template-columns: 33vw 33vw; 
    justify-content: space-evenly;}  
  body {  font-size: 1.25em;  }
  .hero { font-size: 3em; }
  .project-title {  font-size: 2em; }
  .project-content {  line-height: 1.375em; }
  /* About */
  .grid-bio-h2s h2 {  font-size: 2.25em;  }
  .about {  font-size: 4em; }
  .grid-bio-content { margin: 2.5vh 0 2.5vh 0;  }
  .bruce {
    font-size: 1.75em;
    font-weight: 400;
  }
  /* Contact Page */
  .contact-form { width: 50vw;  }
  .contact-form button {
    font-size: 1.25em;
  }
  .contact-form textarea,
  input { font-size: 1.125em;  }
  .contact-form h1 {  font-size: 2.5em; }
  .flabel { font-size: 1.75em;  }
  /* Case Studies ================================= */
  .case-snapshot  { padding: 5vh 20vw 5vh 20vw;  }

  .case-section-major-label { font-size: 3em;  }
  .case-section-label {font-size: 2.5em;}
  .conclusion-content { margin: 0 20vw 0 20vw;  }
  .mar-full-width {  padding: 5vh 20vw 5vh 20vw;  }
  .swot-conclusion {  padding: 5vh 20vw 5vh 20vw;   }
  .vocoach-ia-intro {  margin: 10vh 20vw 5vh 20vw;   }
  
  /* Case Study GRIDS! ================================= */
  
  /* BANDTASTIC ------------------------- */
  .bandastic-mvp-graph {  width: 30vw;  }
  .persona-pic {
    width: 10vw;
  }
  .grid-color-chip-group {
    grid-template-columns: auto auto auto;
  }
  .color-chip {
    width: 16.66vw;
  }
  .grid-bandtastic-typog {  grid-template-columns: 4fr 1fr; }
  .bandtastic-iteration-chunk { justify-self: center; }
  .grid-bandtastic-atomic { 
    grid-template-rows: auto auto;
    justify-items: center;
  }
  /* POCKET VOCOACHER ------------------------- */
  .grid-vocoach-discovery {
    grid-template-columns: auto auto;
  }
  .vocoach-learning-graph { width: 30vw;  }
  .grid-vocoach-gamified {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto; }
    .vocoach-gamified-top {
      grid-column: 1 / 3;
  }
  .grid-vocoach-flows {
    grid-template-rows: auto auto; }
    .vocoach-flows {
      justify-self: center;
  }
  
  .grid-vocoach-logo-paper  {
    grid-template-columns: auto auto auto auto auto;
  }
  /* Styling & Specific ------------------------- */
  .bandtastic-proto-button { width: 33%; }
  .vocoach-proto-button { width: 33%; }
}










/* giant screens */
@media screen and (min-width: 1280px) {
  .hero { font-size: 4em; }
}




















/*
  ========================================
  Reference
  ========================================
*/
.green-l {
  color: #9FD39F;
}
.greed-d {
  color: #6DB66D;
}
.green-tint {
  color: rgba(24, 81, 27, 0.8);
}
.gold-l {
  color: #FFEAC0;
}
.gold-d {
  color: #E3C588;
}
.yellow-tint {
  color: rgba(119, 89, 29, 0.8);
}
.black-90 {
  color: rgba(21, 21, 21, 0.9);
}
.black-100 {
  color: #151515;
}

.garamond {
  color: #FAFAFA;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 1em;
}










/*
  ========================================
  Padding/Margin Classes for content
  ========================================
*/
.pad-l5 { padding-left: 5vw; }
.pad-r5 { padding-right: 5vw; }
.pad-horz5 {
  padding-left: 5vw;
  padding-right: 5vw;
}
.pad-t5 { padding-top: 5vw; }
.pad-b5 { padding-bottom: 5vw; }
.pad-vert5 {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.mar-l5 { margin-left: 5vw; }
.mar-r5 { margin-right: 5vw; }
.mar-horz5 {
  margin-left: 5vw;
  margin-right: 5vw;
}
.mar-t5 { margin-top: 5vw; }
.mar-b5 { margin-bottom: 5vw; }
.mar-vert5 {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.mar-l10 { margin-left: 10vw; }
.mar-r10 { margin-right: 10vw; }
.mar-horz10 {
  margin-left: 10vw;
  margin-right: 10vw;
}
.mar-t10 { margin-top: 10vw; }
.mar-b10 { margin-bottom: 10vw; }
.mar-vert10 {
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.mar-l15 {  margin-left: 15vw;  }
.mar-r15 {  margin-right: 15vw; }
.mar-horz30 {
  margin-left: 15vw;
  margin-right: 15vw;
}
.mar-l20 {  margin-left: 20vw;  }
.mar-r20 {  margin-right: 20vw; }
.mar-horz40 {
  margin-left: 20vw;
  margin-right: 20vw;
}