/*
  ========================================
  NEXT ACTIONS:

  - alt="all my images">

  - Remove unneeded font weights in html when finished

  ========================================
*/


/*
  ========================================
  Reference
  ========================================
*/
.green-l {
  color: #9FD39F;
}
.greed-d {
  color: #6DB66D;
}
.green-tint {
  color: rgba(24, 81, 27, 0.8);
}
.gold-l {
  color: #FFEAC0;
}
.gold-d {
  color: #E3C588;
}

.yellow-tint {
  color: rgba(119, 89, 29, 0.8);
}
.garamond {
  color: #FAFAFA;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 1em;
}


/*
  ========================================
  Grids
  ========================================
*/
* {
  box-sizing: border-box;
}
/* Header */
.nav-sticky-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #151515;
  z-index: 10;
}
.grid-nav {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Hero */
.grid-hero {
  display: grid;
  grid-template-rows: 90vh;
  align-items: center;
  justify-items: center;
}
.grid-arrow {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
}

/* Projects */
.grid-projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Footer */
.grid-footer {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: 
  1fr 1fr 1fr 
  1fr 1fr 1fr
  1fr 1fr 1fr 
  1fr 1fr 1fr;
  align-items: center;
}
.footer-item-mail {
  grid-column: 2 / 3;
  justify-self: start;
}
.footer-item-contact {
  grid-column: 3 / 11;
  justify-self: center;
}
.footer-item-lin {
  grid-column: 11 / 12;
  justify-self: end;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #151515;
  z-index: 10;
}

/* about.grid =============================== */
.north-strip {
  display: grid;
  grid-template-rows: 10vh auto;
  align-items: center;
  justify-items: center;
  margin: 10vh 0 5vh 0;
}
.bio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-bio-content {
  grid-column: 2 / 12;
  margin: 1vh 0 1vh 0;
}
.grid-bio-h2s {
  /* 1/4 desk
  1/3 tablet
  1/2 mobile*/
  grid-column: 1 / 7;
  margin: 2vh 0 2vh 0;
}
.bruce {
  /* always 1/12 on each side */
  grid-column: 2 / 12;
  padding: 5vh 0 5vh 0;
}
.pic-strip {
  /* 1/6 each desk/tab
  1/3 mobile */
  grid-column: 1 / 13;
  padding: 5vh 0 0 0;
}
.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* contact.grid =============================== */


.contact-form {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-gap: 1vh;

  position: relative;
  width: 90vw;
  height: 75vh;
  margin: 10vh auto 10vh auto;
  
}



/*
  ========================================
  Typography
  100 Thin
  200 Extra Light
  300 Light
  400 font-weight normal
  500 Medium
  600 Semi-Bold
  700 font-weight bold
  800 Extra Bold
  900 Ultra Bold
  ========================================
*/
body {
  background-color: #151515;
  color: #FAFAFA;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #4B9BFF;
}
a:visited {
  color: #AF50D7;
}


/* Header/Footer */
.nav a, .footer a {
  color: #FAFAFA;
  font-weight: 300;
}
.nav-item a {
  font-weight: 300;
}
.type-logo a {
  font-weight: 400;
}
#tl-fm {
  color: #E3C588;
  display: inline;
}
#tl-ux {
  color: #6DB66D;
  display: inline;
}

/* Hero */
.hero {
text-align: center;
font-size: 1.5em;
}
#hfm {
  display: inline;
  color: #E3C588;
  font-weight: bold;
}
.hu {
  display: inline;
  color: #6DB66D;
  font-weight: bold;
}

/* Projects */
.project-bandtastic, 
.project-vocoacher {
  position: relative;
  display: inline-block;
}
.project-text-2l {
  position: absolute;
  bottom: 43%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-text-3l {
  position: absolute;
  bottom: 40%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-text-4l {
  position: absolute;
  bottom: 38%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}


.project-title {
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 5px;
}
.project-content {
  line-height: 1.125em;
}

/* about.typo ================================= */
.about {
  font-size: 2em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 300;
  color: #151515;
}
.grid-bio-h2s img {
  position: relative;
  display: inline-block;
}
.grid-bio-h2s h2 {
  position: absolute;
  z-index: 1; 
  left: 8.3%; 
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 700;
}
.grid-bio-content {
  text-indent: 5%;
}
.bruce {
  text-align: center;
  font-weight: 700;
}
.bruce-q {
  font-style: italic;
}
/* contact.typo ================================= */

.contact-form {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  color: #151515;
  text-decoration: none;
}
.contact-form button,
.contact-form textarea,
input {
  font-family: lato;
  font-size: .875em;
}
.contact-form h1 {
  font-size: 2em;
  text-align: center;
  align-self: center;
  font-weight: 800;
}
.flabel {
  font-size: 1.25em;
  text-indent: 1%;
  align-self: end;
  width: 90%;
  justify-self: center;
}
.contact-form input, 
.contact-form textarea {
  width: 90%;
  justify-self: center;
}



/*
  ========================================
  Styling
  ========================================
*/
.nav-item a:active {
  border-bottom: 1px solid #E3C588;
}
.north-strip {
  background-color: #E3C588;
}

.contact-form {
  background: rgba(24, 81, 27, 0.8);
  border-radius: 5px;
}
.contact-form h1, .contact-form button, .flabel {
  background: #E3C588;
}



/*
  ========================================
  @Media Queries
  ========================================
*/
@media screen and (min-width: 675px) {
  .grid-arrow { height: 85px; }
  .grid-projects {  
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
    justify-content: center;
  }  
  body {  font-size: 1.125em; }
  .hero { font-size: 2em; }
  .project-title {  font-size: 2em; }
  .project-content {  line-height: 1.25em; }



  .north-strip {  
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
  }
  .about { grid-column: 1 / 2 }
  .grid-bio-h2s h2 {  font-size: 2em;  }
  .bruce  { font-size: 1.125em; }
  .pictures {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }



  .contact-form { width: 66vw;  }
  .contact-form button,
  .contact-form textarea,
  input { font-size: 1em;  }
  .contact-form h1 {  font-size: 2.25em; }
  .flabel { font-size: 1.5em;  }
  .contact-form button {
    width: 90%;
    justify-self: center;
  }
}



@media screen and (min-width: 800px) {
.about {  font-size: 3em; }}



@media screen and (min-width: 1150px) {
  .grid-arrow { height: 100px; }
  .grid-projects {  
    grid-template-columns: 33vw 33vw; 
    justify-content: space-evenly;}  
  body {  font-size: 1.25em; }
  .hero { font-size: 3em; }
  .project-title {  font-size: 2em; }
  .project-content {  line-height: 1.375em; }



  .grid-bio-h2s h2 {  font-size: 2.25em;  }
  .about {  font-size: 4em; }
  .bruce {
    font-size: 1.75em;
    font-weight: 400;
  }


  .contact-form { width: 50vw;  }
  .contact-form button,
  .contact-form textarea,
  input { font-size: 1.125em;  }
  .contact-form h1 {  font-size: 2.5em; }
  .flabel { font-size: 1.75em;  }
}



@media screen and (min-width: 1280px) {
  .hero { font-size: 4em; }
}