/*
  ========================================

  - alt="all my images">

  - Remove unneeded font weights in html when finished

  ========================================
*/

/*
  ========================================
  Grids
  ========================================
*/
* {
  box-sizing: border-box;
}
/* Header */
.nav-sticky-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(21, 21, 21, 0.9);
  z-index: 10;
}
.grid-nav {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Hero */
.grid-hero {
  display: grid;
  grid-template-rows: 90vh;
  align-items: center;
  justify-items: center;
}
.grid-arrow {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: center;
}

/* Projects */
.grid-projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

/* Footer */
.grid-footer {
  display: grid;
  grid-template-rows: 10vh;
  grid-template-columns: 
  1fr 1fr 1fr 
  1fr 1fr 1fr
  1fr 1fr 1fr 
  1fr 1fr 1fr;
  align-items: center;
}
.footer-item-mail {
  grid-column: 2 / 3;
  justify-self: start;
}
.footer-item-contact {
  grid-column: 3 / 11;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
}
.footer-item-lin {
  grid-column: 11 / 12;
  justify-self: end;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #151515;
  z-index: 10;
}

/* about.grid =============================== */
.north-strip {
  display: grid;
  grid-template-rows: 10vh auto;
  align-items: center;
  justify-items: center;
  margin: 10vh 0 5vh 0;
}
.bio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-bio-content {
  grid-column: 2 / 12;
  margin: 1vh 0 1vh 0;
}
.grid-bio-h2s {
  /* 1/4 desk
  1/3 tablet
  1/2 mobile*/
  grid-column: 1 / 7;
  margin: 2vh 0 2vh 0;
}
.bruce {
  /* always 1/12 on each side */
  grid-column: 2 / 12;
  padding: 5vh 0 5vh 0;
}
.pic-strip {
  /* 1/6 each desk/tab
  1/3 mobile */
  grid-column: 1 / 13;
  padding: 5vh 0 0 0;
}
.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* contact.grid =============================== */
.contact-form {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-gap: 1vh;

  position: relative;
  width: 90vw;
  height: 75vh;
  margin: 10vh auto 10vh auto;
  
}

/* casetemp.grid =============================== */
.case-section-label, .case-section-major-label {
  /* No text-align: center because images */
  display: grid;
  align-items: center;
  justify-items: center;
}
.proto {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/* grid that starts in mobile, some to center TAB grid =============================== */
.grid-bandtastic-logoMistake, .grid-bandtastic-icon-issues, .grid-bandtastic-greenNblueButt, .grid-vocoach-discovery, .grid-vocoach-sketches, .grid-vocoach-sketch2wire, .grid-vocoach-title, .grid-vocoach-sheet {
  display: grid;
  justify-items: center;
}



/*
  ========================================
  Typography
  100 Thin
  200 Extra Light
  300 Light
  400 font-weight normal
  500 Medium
  600 Semi-Bold
  700 font-weight bold
  800 Extra Bold
  900 Ultra Bold
  ========================================
*/
body {
  background-color: #151515;
  color: #FAFAFA;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #4B9BFF;
}
a:visited {
  color: #AF50D7;
}


/* Header/Footer */
.nav a, .footer a {
  color: #FAFAFA;
  font-weight: 300;
}
.nav-item a {
  font-weight: 300;
}
.type-logo a {
  font-weight: 400;
}
#tl-fm {
  color: #E3C588;
  display: inline;
}
#tl-ux {
  color: #6DB66D;
  display: inline;
}

/* Hero */
.hero {
text-align: center;
font-size: 1.5em;
}
#hfm {
  display: inline;
  color: #E3C588;
  font-weight: bold;
}
.hu {
  display: inline;
  color: #6DB66D;
  font-weight: bold;
}

/* Projects */
.project-bandtastic, 
.project-vocoacher {
  position: relative;
  display: inline-block;
}
.project-text-2l {
  position: absolute;
  bottom: 43%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-text-3l {
  position: absolute;
  bottom: 40%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-text-4l {
  position: absolute;
  bottom: 38%; 
  left: 7.5%; 
  text-align: center;
  width: 85%;
}
.project-title {
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 5px;
}
.project-content {
  line-height: 1.125em;
}

/* about.typo ================================= */
.about {
  font-size: 2em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 300;
  color: #151515;
}
.grid-bio-h2s img {
  position: relative;
  display: inline-block;
}
.grid-bio-h2s h2 {
  position: absolute;
  z-index: 1; 
  left: 8.3%; 
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-weight: 700;
}
.grid-bio-content {
  text-indent: 5%;
  line-height: 1.75em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}
.bruce {
  text-align: center;
  font-weight: 700;
}
.bruce-q {
  font-style: italic;
}

/* contact.typo ================================= */
.contact-form {
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  color: #151515;
  text-decoration: none;
}
.contact-form button,
.contact-form textarea,
input {
  font-family: lato;
  font-size: .875em;
}
.contact-form h1 {
  font-size: 2em;
  text-align: center;
  align-self: center;
  font-weight: 300;
}
.flabel {
  font-size: 1.25em;
  text-indent: 1%;
  align-self: end;
  width: 90%;
  justify-self: center;
}
.contact-form input, 
.contact-form textarea {
  width: 90%;
  justify-self: center;
}

/* casetemp.typo ================================= */
.short-description {
  text-align: center;
}
.case-section-major-label {
  font-size: 2.25em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
}
.case-section-label {
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
}
.case-content {
  line-height: 1.75em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-weight: 300;
  text-align: center;
}
 .swot-item-title {
  font-weight: 600;
}
.swot-title {
  font-size: 1.625em;
  font-weight: 100;
}
.grid-swot ul li, .swot-conclusion {
  text-align: left;
}
.swot-conclusion {
  text-indent: 5%;
}
/* case study specific.typo ================================= */
.bandtastic-iteration-chunk .case-content {
  font-style: italic;
}
.vocoach-survey {
  font-style: italic;
}

/*
  ========================================
  Styling
  ========================================
*/
.nav-item a:active {
  border-bottom: 1px solid #E3C588;
}

/* About */
.north-strip {
  background-color: #E3C588;
}

/* Contact Page */
.contact-form {
  background: rgb(39, 39, 39);
  border-radius: 5px;
}
.contact-form h1, .contact-form button, .flabel {
  background: #E3C588;
}

/* Case Studies OVERRIDE IN SPECIFIC */
.case-snapshot {
  background-color: #DADADA;
  color: #151515;
}
.proto {
  background-color: #212121;
}
.swot { 
  border-bottom: 1px ridge rgb(0, 0, 0);
}
li img {
  vertical-align: middle;
}
.greenNblueButt-2, .greenNblueButt-4 {
  border: 1px solid black;
}


/*
  ========================================
  Universal Case Study Padding & Margins
  ========================================
*/

.case-study { margin: 10vh 0 0 0; }
/* Hero ================================= */
.case-hero { padding: 15vh 0 15vh 0;  }
.app-name { padding: 0 0 5vh 0;  }

/* Intro-Problem-Solution ================================= */
.case-snapshot  { padding: 5vh 5vw 5vh 5vw;  }
.problem-title, .solution-title  { padding: 5vh 0 1vh 0;  }

/* Prototype & B4 actual Process ================================= */
.proto {  padding: 5vh 0 5vh 0; }
.process-title {  padding: 15vh 0 10vh 0; }

/* Process Titles & Icons ================================= */
.process-box {  padding: 15vh 0 5vh 0; }
.process-icon { padding: 0 0 2vh 0; }
/* SWOT  ================================= */
.swot-title { padding: 10vh 0 2vh 0;}
.swot-item-title { padding: 2vh 0 2vh 0;}
.swot {
  padding: 2vh 5vw 2vh 5vw;
}
/* Postprocess Conclusion ================================= */
.conclusion-bg  { margin: 20vh 0 0 0; }
.conclusion-label { padding: 5vh 0 1vh 0;  }
.conclusion-content { 
  padding: 0 0 5vh 0;
  margin: 0 5vw 0 5vw;
}

/*
  ========================================
  Padding/Margin Classes for content
  ========================================
*/
.pad-l5 { padding-left: 5vw; }
.pad-r5 { padding-right: 5vw; }
.pad-horz5 {
  padding-left: 5vw;
  padding-right: 5vw;
}
.pad-t5 { padding-top: 5vw; }
.pad-b5 { padding-bottom: 5vw; }
.pad-vert5 {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.mar-l5 { margin-left: 5vw; }
.mar-r5 { margin-right: 5vw; }
.mar-horz5 {
  margin-left: 5vw;
  margin-right: 5vw;
}
.mar-t5 { margin-top: 5vw; }
.mar-b5 { margin-bottom: 5vw; }
.mar-vert5 {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.mar-l10 { margin-left: 10vw; }
.mar-r10 { margin-right: 10vw; }
.mar-horz10 {
  margin-left: 10vw;
  margin-right: 10vw;
}
.mar-t10 { margin-top: 10vw; }
.mar-b10 { margin-bottom: 10vw; }
.mar-vert10 {
  margin-top: 10vw;
  margin-bottom: 10vw;
}










/*
  ========================================
  @Media Queries
  ========================================
*/
@media screen and (min-width: 675px) {
  /* Index */
  .grid-arrow { height: 85px; }
  .grid-projects {  
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
    justify-content: center;
  }  
  body {  font-size: 1.125em; }
  .hero { font-size: 2em; }
  .project-title {  font-size: 2em; }
  .project-content {  line-height: 1.25em; }
  /* About */
  .north-strip {  
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
  }
  .about { grid-column: 1 / 2 }
  .grid-bio-h2s h2 {  font-size: 2em;  }
  .grid-bio-content { font-weight: 300; }
  .bruce  { font-size: 1.125em; }
  .pictures {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
  /* Contact Page */
  .contact-form { width: 66vw;  }
  .contact-form button,
  .contact-form textarea,
  input { font-size: 1em;  }
  .contact-form h1 {  font-size: 2.25em; }
  .flabel { font-size: 1.5em;  }
  .contact-form button {
    width: 90%;
    justify-self: center;
  }

  /* Case Studies ================================= */
  .case-section-major-label { font-size: 2.5em;  }
  .case-section-label {font-size: 2em;}

  .case-content {
    text-indent: 5%;
    text-align: left; }
  /* case-content override to keep centered... */
  .problem, .solution {
    text-align: center;
    text-indent: 0%;
  }
  .swot { border: 5px ridge rgb(0, 0, 0);  }
  .swot-title, .swot-item-title {
    text-align: center;
  }

  /* Case Study GRIDS! ================================= */
  .proto {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-swot {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
  }
  .grid-bandtastic-personas {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .bandtastic-logoMistake-top { padding: 0 10vw 0 10vw; }
  .bandtastic-logoMistake-bot { padding: 0 10vw 0 10vw; }
  .grid-bandtastic-logoCollage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-bandtastic-moodboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-bandtastic-styleTiles {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }
  .bandtastic-styleTiles-top { 
    grid-column-start: 1;
    grid-column-end: 3;
}
  .bandtastic-styleTiles-botL {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .bandtastic-styleTiles-botR {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .grid-bandtastic-typog {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .project-bandtastic-icon-issuesMid1, .project-bandtastic-icon-issuesMid2, .project-bandtastic-icon-issuesMid3 { padding: 0 15vw 0 15vw;  }

  .grid-bandtastic-greenNblueButt {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "tl tr"
    "bl br"
  }
  .greenNblueButt-1 { grid-area: tl;}
  .greenNblueButt-2 { grid-area: bl;}
  .greenNblueButt-3 { grid-area: tr;}
  .greenNblueButt-4 { grid-area: br;}


  .bandtastic-iteration-intro { text-align: center; }
  .grid-bandtastic-iterations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bandtastic-iteration-chunk .case-content { 
    text-align: center; 
    font-weight: 150;
  }
  /* This is allowing 1 centered line not to get indented from case-content & bumped to the next line for no reason */
  .vocoach-gamified, .vocoach-survey, .vocoach-sketches, .vocoach-title, .vocoach-sheet {
    text-align: center;
    text-indent: 0%;
}
  .grid-vocoach-personas {
    display: grid;
    grid-template-columns: 1fr auto;
  }

}



/* another "About" h1 size */
@media screen and (min-width: 800px) {
.about {  font-size: 3em; }}



@media screen and (min-width: 1150px) {
  /* Index */
  .grid-arrow { height: 100px; }
  .grid-projects {  
    grid-template-columns: 33vw 33vw; 
    justify-content: space-evenly;}  
  body {  font-size: 1.25em; }
  .hero { font-size: 3em; }
  .project-title {  font-size: 2em; }
  .project-content {  line-height: 1.375em; }
  /* About */
  .grid-bio-h2s h2 {  font-size: 2.25em;  }
  .about {  font-size: 4em; }
  .bruce {
    font-size: 1.75em;
    font-weight: 400;
  }
  /* Contact Page */
  .contact-form { width: 50vw;  }
  .contact-form button,
  .contact-form textarea,
  input { font-size: 1.125em;  }
  .contact-form h1 {  font-size: 2.5em; }
  .flabel { font-size: 1.75em;  }
  /* Case Studies */
  .case-section-major-label { font-size: 3em;  }
  .case-section-label {font-size: 2.5em;}


  /* Case Study GRIDS! ================================= */
  .grid-bandtastic-mvp {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .grid-swot {  grid-template-columns: repeat(auto-fit, 33%); }
  .grid-bandtastic-flows {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "img txt"; }
  .bandtastic-flow1 { grid-area: txt; }
  .bandtastic-flow2 { grid-area: img; 
  }
  .grid-bandtastic-balsamiqWires {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .bandtastic-logoMistake-top { padding: 0 15vw 0 15vw; }
  .bandtastic-logoMistake-bot { padding: 0 15vw 0 15vw; }
  
  .grid-bandtastic-styleTiles {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr; 
    align-items: center;  }
  .bandtastic-styleTiles-top { 
    grid-column-start: 1;
    grid-column-end: 2; }
  .bandtastic-styleTiles-botL {
     grid-column-start: 2;
    grid-column-end: 3; }
  .bandtastic-styleTiles-botR {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .grid-bandtastic-typog {  grid-template-columns: 4fr 1fr; }
  .grid-bandtastic-color {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right"
  }
  .bandtastic-iteration-chunk { justify-self: center; }
  .grid-bandtastic-atomic { 
    display: grid;
    grid-template-rows: auto auto;  }
    .grid-bandtastic-atomic p {
      text-indent: 0%;
      text-align: center; }
    .grid-bandtastic-atomic a {
      justify-self: center;
  }

  .grid-vocoach-discovery {
    grid-template-columns: 1fr auto;
    margin-right: 5vw;
  }
  .grid-vocoach-gamified {
    display: grid;
    grid-template-columns: auto auto;
  }
  .gamified, .survey { text-align: left; }
  .grid-vocoach-survey {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
}



/* giant screens */
@media screen and (min-width: 1280px) {
  .hero { font-size: 4em; }
}




/*
  ========================================
  Bandtastic Specific
  ========================================
*/
.case-hero-bandtastic {
  background-image: url(../desk-assets/project-bandtastic-banner-center.png);
  background-size: cover;
  background-position: center;
}

.app-bg-color-bandtastic {
  background-color: #E1EAF7;
}
.conclusion-bg-bandtastic {
  background-color: rgb(9, 38, 78);
}

/*
  ========================================
  Pocket VoCoacher Specific
  ========================================
*/

.case-hero-vocoach {
  background-image: url(../desk-assets/project-vocoach-banner-center.png);
  background-size: cover;
  background-position: center;
}

.app-bg-color-vocoach {
  background-color: rgb(234, 217, 255);
}
.conclusion-bg-vocoach {
  background-color: #240A44;
}




/*
  ========================================
  Reference
  ========================================
*/
.green-l {
  color: #9FD39F;
}
.greed-d {
  color: #6DB66D;
}
.green-tint {
  color: rgba(24, 81, 27, 0.8);
}
.gold-l {
  color: #FFEAC0;
}
.gold-d {
  color: #E3C588;
}
.yellow-tint {
  color: rgba(119, 89, 29, 0.8);
}
.black-90 {
  color: rgba(21, 21, 21, 0.9);
}
.black-100 {
  color: #151515;
}

.garamond {
  color: #FAFAFA;
  font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
  font-size: 1em;
}